@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

*{
    background-color: #cbf7ed;;
    color:#161925;
    font-family: "Decia" sans-serif;
}

.card{
    background-color: #cbf7ed;
}

.navbar{
    background-color:#406e8e;
    color:#161925;
    position:fixed;
    right:1px;
    order: -1;
}

.nav-item{
    background-color: #406e8e;
}

.title{
    order:1;
    background-color: #406e8e;
}

.title-bar{
    width:100%;
    padding:20px;
    min-height:10vh;
    background-color: #406e8e;
}

.jumbotron{
    background-color: #cbf7ed;
}